// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color:black;
  background-color: whitesmoke;
  margin-left: 6px;
  padding: 10px
}

.letters{
  display: flex;
}

#enter{
  width: 30%;
}
